body{
    line-height: 2;
    font-family: 'Noto Sans JP', sans-serif;
  }
  span{
    margin: 330px;
    padding: 0 20px;
    font-size: 50px;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  span1{
    margin: 400px;
    padding: 0 20px;
    font-size: 20px;
    font-weight: 300;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .wrapper{
    background-color: rgba(255, 255, 255, 0.466);
  }
  
  img{
    max-width: 100%;
  }
  
  .img_button img{
    display: block;
  }
  
  .content{
    display: none;
    position: relative;
    padding: 50px;
    background-color: rgb(184, 184, 184);
    margin-bottom: 50px;
  }
  
  .img_button{
    transition: 0.5s all;
    cursor: pointer;
    max-width: 1000px;
    margin: 0 auto 50px;
    position: relative;
  }
  
  .img_button::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: 0.5s opacity;
  }
  
  .img_button:hover::after{
    opacity: 1;
  }
  
  /* 横並び追加 */
  .txt_img{
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    min-height: 30vh;
  }
  
  .img{
    width: 30%;
  }
  
  .txt{
    width: 80%;
    padding: 10px;
  }
  
  #img01{
    margin-top: 50px;
  }

  .each_work img{
    width: 100%;
    transition-duration: 0.5s;
  }
  .each_work:hover img{
    transform: scale(1.2);
    transition-duration: 0.5s;
  }